.background {
    background:black;
    background-size: 100%;
  }
  .container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 500px;
    perspective: 200px;
    
  }
  .text {
    position: relative;
    text-align: justify;
    transform-origin: 50% 100%;
    animation: text 30s linear;
    color:yellow;
    font-size: 500%;
    font-weight: 600;

  }
  
  .text h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}
  .text h2{
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 50px;
  }
  
  @keyframes text {
    from {
      top: 600px;
      transform: rotateX(30deg)  translateZ(0);
    }
    to { 
      top: -2200px;
      transform: rotateX(30deg) translateZ(-1222px);
    }
  }